@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono);
/* line 13, ../sass/overrides.scss */
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}
/* line 18, ../sass/overrides.scss */
html.js fieldset.collapsed {
  border-left-width: 1px;
  border-right-width: 1px;
  height: auto;
}
/* line 24, ../sass/overrides.scss */
html.js input.form-autocomplete {
  background-image: none;
}
/* line 28, ../sass/overrides.scss */
html.js input.form-autocomplete {
  background-image: none;
}
/* line 32, ../sass/overrides.scss */
html.js .autocomplete-throbber {
  background-position: 100% 2px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  margin: 2px 0 0 2px;
  width: 15px;
}
/* line 40, ../sass/overrides.scss */
html.js .autocomplete-throbber.throbbing {
  background-position: 100% -18px;
}

/* line 46, ../sass/overrides.scss */
body {
  position: relative;
}
/* line 50, ../sass/overrides.scss */
body.admin-expanded.admin-vertical.admin-nw .navbar, body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
/* line 55, ../sass/overrides.scss */
body.navbar-is-fixed-top {
  padding-top: 50px !important;
}
/* line 58, ../sass/overrides.scss */
body.navbar-is-fixed-bottom {
  padding-bottom: 50px !important;
}
/* line 62, ../sass/overrides.scss */
body.toolbar {
  padding-top: 30px !important;
}
/* line 64, ../sass/overrides.scss */
body.toolbar .navbar-fixed-top {
  top: 30px;
}
/* line 67, ../sass/overrides.scss */
body.toolbar.navbar-is-fixed-top {
  padding-top: 80px !important;
}
/* line 72, ../sass/overrides.scss */
body.toolbar-drawer {
  padding-top: 64px !important;
}
/* line 74, ../sass/overrides.scss */
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
/* line 77, ../sass/overrides.scss */
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 114px !important;
}
/* line 83, ../sass/overrides.scss */
body.admin-menu .navbar-fixed-top {
  top: 29px;
}
/* line 91, ../sass/overrides.scss */
body div#admin-toolbar {
  z-index: 1600;
}
/* line 95, ../sass/overrides.scss */
body #toolbar, body #admin-menu, body #admin-toolbar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 99, ../sass/overrides.scss */
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
/* line 104, ../sass/overrides.scss */
body #admin-menu .dropdown li {
  line-height: normal;
}

/* line 111, ../sass/overrides.scss */
.navbar.container {
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 111, ../sass/overrides.scss */
  .navbar.container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 111, ../sass/overrides.scss */
  .navbar.container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  /* line 111, ../sass/overrides.scss */
  .navbar.container {
    max-width: 1140px;
  }
}
/* line 122, ../sass/overrides.scss */
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}

/* line 130, ../sass/overrides.scss */
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}

/* line 136, ../sass/overrides.scss */
#toolbar {
  z-index: 1600;
}

/* line 140, ../sass/overrides.scss */
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

/* line 148, ../sass/overrides.scss */
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

/* line 155, ../sass/overrides.scss */
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  /* line 155, ../sass/overrides.scss */
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}

/* line 174, ../sass/overrides.scss */
.page-header {
  margin-top: 0;
}

/* line 180, ../sass/overrides.scss */
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
/* line 185, ../sass/overrides.scss */
.region-help .block {
  overflow: hidden;
}

/* line 191, ../sass/overrides.scss */
form#search-block-form {
  margin: 0;
}

/* line 195, ../sass/overrides.scss */
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}
@media (min-width: 992px) {
  /* line 195, ../sass/overrides.scss */
  .navbar #block-search-form {
    float: right;
  }
}
/* line 202, ../sass/overrides.scss */
.navbar #block-search-form .input-group-btn {
  width: auto;
}

/* line 207, ../sass/overrides.scss */
.navbar-search .control-group {
  margin-bottom: 0;
}

/* line 212, ../sass/overrides.scss */
ul.action-links {
  margin: 12px 0;
  padding: 0;
}
/* line 215, ../sass/overrides.scss */
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
}
/* line 220, ../sass/overrides.scss */
ul.action-links .glyphicon {
  padding-right: 0.5em;
}

/* line 226, ../sass/overrides.scss */
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}

/* line 231, ../sass/overrides.scss */
input.error {
  color: #a94442;
  border-color: #ebccd1;
}

/* line 236, ../sass/overrides.scss */
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

/* line 241, ../sass/overrides.scss */
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

/* line 246, ../sass/overrides.scss */
.form-actions {
  clear: both;
}

/* line 250, ../sass/overrides.scss */
.resizable-textarea textarea {
  border-radius: 0 0 0 0;
}

/* line 254, ../sass/overrides.scss */
.text-format-wrapper {
  margin-bottom: 15px;
}
/* line 257, ../sass/overrides.scss */
.text-format-wrapper > .form-type-textarea,
.text-format-wrapper .filter-wrapper {
  margin-bottom: 0;
}

/* line 263, ../sass/overrides.scss */
.filter-wrapper {
  border-radius: 0 0 0 0;
}
/* line 265, ../sass/overrides.scss */
.filter-wrapper .panel-body {
  padding: 7px;
}
/* line 268, ../sass/overrides.scss */
.filter-wrapper .form-type-select {
  min-width: 30%;
}
/* line 270, ../sass/overrides.scss */
.filter-wrapper .form-type-select .filter-list {
  width: 100%;
}

/* line 276, ../sass/overrides.scss */
.filter-help {
  margin-top: 5px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 276, ../sass/overrides.scss */
  .filter-help {
    float: right;
  }
}
/* line 282, ../sass/overrides.scss */
.filter-help .glyphicon {
  margin: 0 5px 0 0;
  vertical-align: text-top;
}

/* line 288, ../sass/overrides.scss */
.help-block, .control-group .help-inline {
  color: #DDDDDD;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}

/* line 295, ../sass/overrides.scss */
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}

/* line 301, ../sass/overrides.scss */
.error {
  color: #a94442;
}

/* line 305, ../sass/overrides.scss */
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}

/* line 311, ../sass/overrides.scss */
.form-group.error,
.form-group.has-error {
  background: none;
}
/* line 314, ../sass/overrides.scss */
.form-group.error label, .form-group.error .control-label,
.form-group.has-error label,
.form-group.has-error .control-label {
  color: #a94442;
  font-weight: 600;
}
/* line 318, ../sass/overrides.scss */
.form-group.error input, .form-group.error textarea, .form-group.error select, .form-group.error .uneditable-input,
.form-group.has-error input,
.form-group.has-error textarea,
.form-group.has-error select,
.form-group.has-error .uneditable-input {
  color: #999999;
}
/* line 321, ../sass/overrides.scss */
.form-group.error .help-block, .form-group.error .help-inline,
.form-group.has-error .help-block,
.form-group.has-error .help-inline {
  color: #DDDDDD;
}

/* line 327, ../sass/overrides.scss */
.nav-tabs {
  margin-bottom: 10px;
}

/* line 331, ../sass/overrides.scss */
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}

/* line 338, ../sass/overrides.scss */
.tabs--secondary {
  margin: 0 0 10px;
}

/* line 343, ../sass/overrides.scss */
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777777;
}

/* line 351, ../sass/overrides.scss */
.form-type-password-confirm {
  position: relative;
}
/* line 353, ../sass/overrides.scss */
.form-type-password-confirm label {
  display: block;
}
/* line 355, ../sass/overrides.scss */
.form-type-password-confirm label .label {
  float: right;
}
/* line 359, ../sass/overrides.scss */
.form-type-password-confirm .password-help {
  padding-left: 2em;
}
@media (min-width: 768px) {
  /* line 359, ../sass/overrides.scss */
  .form-type-password-confirm .password-help {
    border-left: 1px solid #DDDDDD;
    left: 50%;
    margin-left: 15px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  /* line 359, ../sass/overrides.scss */
  .form-type-password-confirm .password-help {
    left: 33.33333%;
  }
}
/* line 371, ../sass/overrides.scss */
.form-type-password-confirm .progress {
  background: transparent;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 4px;
  margin: -5px 0 0;
}
/* line 380, ../sass/overrides.scss */
.form-type-password-confirm .form-type-password {
  clear: left;
}
/* line 383, ../sass/overrides.scss */
.form-type-password-confirm .form-control-feedback {
  right: 15px;
}
/* line 386, ../sass/overrides.scss */
.form-type-password-confirm .help-block {
  clear: both;
}

/* line 393, ../sass/overrides.scss */
ul.pagination li > a.progress-disabled {
  float: left;
}

/* line 400, ../sass/overrides.scss */
.form-autocomplete .glyphicon {
  color: #DDDDDD;
  font-size: 120%;
}
/* line 403, ../sass/overrides.scss */
.form-autocomplete .glyphicon.glyphicon-spin {
  color: #0678BE;
}
/* line 407, ../sass/overrides.scss */
.form-autocomplete .input-group-addon {
  background-color: white;
}

/* line 413, ../sass/overrides.scss */
.ajax-progress-bar {
  border-radius: 0 0 0 0;
  border: 1px solid #DDDDDD;
  margin: -1px 0 0;
  padding: 6px 12px;
  width: 100%;
}
/* line 419, ../sass/overrides.scss */
.ajax-progress-bar .progress {
  height: 8px;
  margin: 0;
}
/* line 423, ../sass/overrides.scss */
.ajax-progress-bar .percentage,
.ajax-progress-bar .message {
  color: #DDDDDD;
  font-size: 12px;
  line-height: 1em;
  margin: 5px 0 0;
  padding: 0;
}

/* line 433, ../sass/overrides.scss */
.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/* line 441, ../sass/overrides.scss */
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/**
 * Missing Bootstrap 2 tab styling.
 * $see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * $see http://bootply.com/74926
 */
/* line 496, ../sass/overrides.scss */
.tabbable {
  margin-bottom: 20px;
}

/* line 510, ../sass/overrides.scss */
.tab-pane > .panel-heading {
  display: none;
}

/* line 514, ../sass/overrides.scss */
.tab-content > .active {
  display: block;
}

/* line 520, ../sass/overrides.scss */
.tabs-below > .nav-tabs {
  border-top: 1px solid none;
}
/* line 522, ../sass/overrides.scss */
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
/* line 525, ../sass/overrides.scss */
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 0 0;
}
/* line 527, ../sass/overrides.scss */
.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
  border-top-color: none;
  border-bottom-color: transparent;
}
/* line 535, ../sass/overrides.scss */
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent none none none;
}

/* line 547, ../sass/overrides.scss */
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
/* line 550, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
/* line 552, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
/* line 555, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
/* line 558, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
/* line 564, ../sass/overrides.scss */
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 0 0 0;
  border: 1px solid none;
  overflow: hidden;
}

/* line 575, ../sass/overrides.scss */
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
/* line 578, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li > a {
  border-radius: 0 0 0 0;
}
/* line 580, ../sass/overrides.scss */
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
  border-color: transparent;
}
/* line 585, ../sass/overrides.scss */
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

/* line 596, ../sass/overrides.scss */
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
/* line 599, ../sass/overrides.scss */
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 0 0 0;
}
/* line 601, ../sass/overrides.scss */
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
/* line 607, ../sass/overrides.scss */
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: transparent;
}

/* line 616, ../sass/overrides.scss */
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

/* line 641, ../sass/overrides.scss */
table .radio input[type="radio"],
table .checkbox input[type="checkbox"] {
  max-width: inherit;
}

/* line 648, ../sass/overrides.scss */
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 648, ../sass/overrides.scss */
  .form-horizontal .form-group label {
    float: left;
    width: 16.66667%;
  }
}
