.admin-views-view {
  .views-exposed-form {
    .form-text {
      width: 100%;
    }
  }
}

.vbo-views-form {
  fieldset {
    margin-bottom: $line-height-computed;
    padding:       $grid-gutter-width/2;
    border:        1px solid $panel-default-border;

    background:    $panel-default-heading-bg;

    .panel-heading {
      display: none;
    }

    .panel-body {
      //@include make-row();
      padding: 0;
    }
  }

  button[type=submit] {
    @include btn-info;

    float:  right;
    margin: 0;
  }
}
