.view-better-watchdog-ui-view {
  .form-inline {
    .panel-body {
      padding-top:    0;
      padding-bottom: 0;
    }

    a {
      @include btn-danger();
      float:        right;
      margin-right: $grid-gutter-width/2;
    }
  }
}
