// TODO color codes

.date-nav-wrapper {
  .date-nav {
    padding-bottom: 0;

    .pager {
      text-align: inherit;

      margin:     0;
    }

    .date-prev,
    .date-next {
      padding:       0;
      border-radius: 0;

      background:    transparent;

      a {
        @include btn-default();
        margin-left:  0;
        margin-right: 0;
      }
    }
    .date-next {
      left: auto;
    }
    .date-prev {
      right: auto;
    }
  }
}

.calendar-calendar {
  .month-view,
  .day-view,
  .week-view {
    .full {
      border: 1px solid $gray-light;

      tr,
      tr.odd,
      tr.even {
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: $gray-light;
        &:nth-child(2n+2) {
          //  background: #F3F4EE;
        }
        &:first-child + tr,
        &:first-child + tr + tr + tr {
          //  background: #F3F4EE;
        }
        td {
          &.today,
          &.date-box.today,
          &.single-day.today {
            border-color:     $alert-success-text;

            background-color: $alert-success-bg;
            color:            $alert-success-text;

            font-weight:      bold;
          }

          a {
            display: block;
          }
        }
      }

      .inner {
        .monthview,
        .weekview,
        .dayview {
          border:        none;
          border-radius: 0;
        }
      }

      td.single-day,
      td.multi-day {
        div.monthview,
        div.weekview,
        div.dayview {
          height:     14px;

          background: $alert-warning-bg;
          color:      $alert-warning-text;
        }
      }

      td.multi-day {
        .inner {
          .monthview,
          .weekview,
          .dayview {
            .continues,
            .cutoff {
              border:        none;
              border-radius: 0;

              background:    $alert-warning-bg;
              color:         $alert-warning-text;
            }
          }
        }
      }
    }

    .mini {
      border: 1px solid $gray-light;
    }
  }

  td.empty {
    border-color: $gray-light;

    background:   $gray-lighter;
    color:        $gray-light;
  }
}

//.calendar-calendar .month-view .full td.date-box.today {
//  border-width: 2px 2px 0px 2px;
//  border-style: solid;
//  border-color: #7C7F12;
//}
