// CKeditor inline with div plugin
body {
  .cke {
    margin:       0 auto;

    @include box-shadow(none);

    border-color: $input-border !important;

    .cke_top,
    .cke_bottom,
    .cke_toolgroup {
      @include box-shadow(none);

      border-color:  $input-border !important;
      border-radius: 0;

      background:    $gray-lighter;
    }

    .cke_top,
    .cke_bottom {
      background: $gray-lighter;
    }

    .cke_toolgroup {
      background: $btn-default-bg;
    }

    .cke_toolbar_separator {
      background: $input-border;
    }

    a {
      &.cke_button_on,
      &.cke_button_off,
      &.cke_button_disabled,
      &.cke_combo_button {
        @include box-shadow(none);

        border-color:  $input-border !important;
        border-radius: 0;

        background:    $btn-default-bg;

        &:hover,
        &:active {
          @include box-shadow(none);

          background: $gray-lighter;

          cursor:     pointer;
        }
      }

      &.cke_button_on {
        background: $gray-light;
      }

      &.cke_button_off {
      }

      &.cke_button_disabled {
        &:hover,
        &:active {
          background: $btn-default-bg;
          cursor:     not-allowed;
        }
      }

      &.cke_combo_button {

      }
    }
  }

  .cke_combopanel {
    @include box-shadow(none);

    border-color:  $input-border !important;
    border-radius: 0;
  }

  .cke_combo_off {
    a {
      &.cke_combo_button {
        &:hover,
        &:focus {
          @include box-shadow(none);
        }
      }
    }
  }

  .cke_combopanel__format {
    width: 250px;
  }

  .cke_ltr .cke_button:first-child,
  .cke_ltr .cke_button:last-child,
  .cke_rtl .cke_button:first-child,
  .cke_rtl .cke_button:last-child {
    border-radius: 0;
  }

  .cke_wysiwyg_frame,
  .cke_wysiwyg_div {
    padding: $grid-gutter-width/2;
  }
}

// admin/config/content/ckeditor
.page-admin-config-content-ckeditor {
  a[href*="admin/config/content/ckeditor/add"] {
    @include btn_add();
  }
  a[href*="admin/config/content/ckeditor/edit"] {
    @include btn_edit(TRUE);
  }
  a[href*="admin/config/content/ckeditor/delete"] {
    @include btn_remove(TRUE);
  }
  a[href*="admin/config/content/ckeditor/clone"] {
    @include btn_clone(TRUE);
  }

  table {
    th:nth-child(2),
    th:nth-child(3) {
      width: 20%;
    }
  }
}
