// TODO color codes to variables
/******************************************************************************/
/* SPECTRUM COLOR PICKER                                                      */

//.sp-replacer {
//  border-color: #CCCCCC;
//  background:   #FFFFFF;
//}
//
//.sp-replacer:hover,
//.sp-replacer.sp-active {
//  border-color: #0074BD;
//}
//
//.sp-dd:hover,
//.sp-replacer:hover .sp-dd,
//.sp-replacer.sp-active .sp-dd {
//  color: #0074BD;
//}
//
//.sp-container {
//  background:   #FFFFFF;
//  border-color: #CCCCCC;
//}
//
//.sp-initial span {
//  width: 20px;
//}
//
//.sp-input-container {
//  width: 120px;
//}
//
//.sp-input {
//  border-radius: 0;
//  background:    #FFFFFF;
//}

//.sp-container button {
//  font-size:       1.125em;
//  line-height:     normal;
//  text-decoration: none;
//  text-shadow:     0 1px 0 #5B8A3C;
//  color:           #FFFFFF;
//
//  padding:         4px 24px;
//
//  box-shadow:      inset 0 1px 0 0 #9ACC85;
//
//  border:          1px solid #3B6E22;
//  border-radius:   0;
//
//  background:      #74AD5A linear-gradient(to bottom, #74AD5A 5%, #68A54B 100%);
//}
//
//.sp-container button:hover,
//.sp-container button:active {
//  box-shadow:  inset 0 1px 0 0 #9ACC85;
//
//  border:      1px solid #3B6E22;
//
//  background:  #68A54B linear-gradient(to bottom, #68A54B 5%, #74AD5A 100%);
//
//  color:       #FFFFFF;
//
//  text-shadow: 0 1px 0 #5B8A3C;
//}

//.sp-container .sp-cancel {
//  font-size:       1.125em;
//  text-decoration: none;
//  text-shadow:     0 1px 0 #810E05;
//  color:           #FFFFFF !important;
//
//  box-sizing:      border-box;
//  padding:         4px 24px;
//
//  box-shadow:      inset 0 1px 0 0 #F5978E;
//
//  border:          1px solid #B22117;
//
//  background:      #F24537 linear-gradient(to bottom, #F24537 5%, #C62D1F 100%);
//}
//
//.sp-container .sp-cancel:hover,
//.sp-container .sp-cancel:active {
//  border:      1px solid #B22117;
//
//  background:  #C62D1F linear-gradient(to bottom, #C62D1F 5%, #F24537 100%);
//
//  color:       #FFFFFF;
//
//  text-shadow: 0 1px 0 #810E05;
//}
//
//.sp-container button:active,
//.sp-container .sp-cancel:active {
//  position: relative;
//  top:      1px;
//}
