.ctools-modal-dialog {
  .modal-body {
    width:    100% !important;
    overflow: auto;
  }
}

.ctools-button-processed {
  padding-top:    0;
  padding-bottom: 0;

  border:         none;

  background:     transparent;

  &:hover {
    cursor: auto;
  }

  .ctools-content {
    a {
      @include btn-default(TRUE);
    }
  }
}

.ctools-dropbutton-processed {
  padding-right: $grid-gutter-width/2;

  .ctools-link {
    width:       $grid-gutter-width/2;

    border-left: none;

    text-indent: 0;

    a {
      display:     block;
      width:       100%;
      height:      100%;

      border-left: none;
    }
  }

  .ctools-content {
    border: none;

    a {
      display:    block;

      text-align: left;
    }

    li:not(.first) {
      a {
        border-top: none;
      }
    }
  }

  &.open {
    li + li {
      border-top:     none;
      margin-top:     0;
      padding-bottom: 0;
      padding-top:    0;
    }

    .ctools-content {
      padding-bottom: 0;
    }

    .ctools-twisty {
      top:                 0;
      border-top-width:    1px;
      border-right-width:  1px;
      border-bottom-width: 1px;
      border-color:        darken($gray-light, 12%);

      @include icon-open(0);
    }
  }
}

.ctools-twisty {
  position:  relative;
  top:       0;
  right:     0;
  border:    none;

  padding:   3px 0 !important;

  font-size: 0 !important;

  @include icon-close(0);
  &:before {
    font-size: $font-size-base !important;
  }
}

.ctools-button {
  a {
    @include btn-default(TRUE);
  }
}

.ctools-collapsible-container {
  > .ctools-toggle,
  > .ctools-collapsible-handle {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.wizard-trail {
  @include panel();
  @include font-heading($font-size-h4, 0);

  margin:     0 0 $grid-gutter-width/2;

  background: $gray-lighter;

  text-align: center;

  .glyphicon {
    color:     $gray;

    font-size: $font-size-h5;
  }

  .wizard-trail-previous {
    font-weight: normal;
  }

  .wizard-trail-current {
    color: $drupal-color;
  }

  .wizard-trail-next {
    color:       $gray;

    font-weight: normal;
  }
}
