.container-inline-date {
  .date-padding {
    float: none;
  }

  .control-label {
    display: none;
  }

  .help-block {
    display: none;
  }

  .form-item {
    margin-right: 0;
    input,
    select,
    option {
      margin-right: 0;
    }
  }
}

.form-inline {
  .container-inline-date {
    display: inline-block;
  }
}

.date-form-element-content-multiline {
  padding: 0;
  border:  none;

  .container-inline-date.end-date-wrapper {
    margin-top: $grid-gutter-width/4;
  }
}

fieldset.date-combo .container-inline-date .date-padding {
  padding: 0;
}
