.field-widget-field-collection-embed {
  table {
    th.field-label {
      padding: $panel-heading-padding;
      label {
        margin-bottom: 0;
      }
    }
  }

  button[id*="remove-button"] {
    float: right;
  }
}
