.field-ui-overview {
  .field-group {
    .form-item-fields--add-new-group-region {
      margin-top: 26px;
    }

    .form-item-fields--add-new-group-group-name {
      input {
        display:   inline-block;
        width:     auto;
        min-width: 50%;
      }
    }

    a[href$="/delete/form"] {
      @include btn_remove(TRUE);
    }
  }
}
