div.image-preview {
  @include panel();
  display:      inline-block;
  padding:      5px;
  margin-right: 5px;

  .focal-point-wrapper {
    float:          left;
    vertical-align: top;
    width:          250px;
  }
  .focal-point-preview-link,
  .focal-point-help {
    display:        block;
    vertical-align: top;
    width:          250px;
    margin-left:    255px;
    margin-bottom:  5px;
  }
}
