.block-masquerade {
  margin-top: $grid-gutter-width/2;
  border:     1px solid $gray-light;

  background: $gray-lighter;

  h2 {
    @include make-sm-column(3);
    margin:     0;
    border:     none;

    background: none;
  }

  form {
    @include make-sm-column(9);

    padding-top:    $grid-gutter-width/4;
    padding-bottom: $grid-gutter-width/4;

    label {
      display: none;
    }

    .input-group {
      display: table;

      @include make-sm-column(10);
    }

    .dropdown {
      left: -$grid-gutter-width*2+2px;
      top:  -2px;
    }

    button {
      @include make-sm-column(2);
    }

    .description {
      display: none;
    }
  }
}
