// media 7.x-1.x
#media-admin {
  .media-display-switch {
    display:    block;
    @include list-unstyled();
    @include clearfix();

    text-align: right;

    li {
      display: inline-block;

      a {
        @include btn-default();
        img {
          display: none;
        }
      }
    }

    li:nth-child(1) {
      a {
        @include icon_list(0);
      }
    }
    li:nth-child(2) {
      a {
        @include icon-grid(0);
      }
    }
  }

  table {
    th:nth-child(1) {
      width: 1%;
    }
    td:nth-child(1) {
      text-align: center;
    }

    td:nth-child(2) {
      @include font-monospace();
    }

    th:nth-child(3) {
      width: 1%;
    }
    td:nth-child(3) {
      @include font-monospace();
      @include text-nowrap();
    }

    th:nth-child(4) {
      width: 1%;
    }
    td:nth-child(4) {
      @include font-monospace();
      @include text-nowrap();
      text-align: right;
    }

    th:nth-child(5) {
      width: 1%;
    }

    th:nth-child(6) {
      width: 1%;
    }
    td:nth-child(6) {
      @include font-monospace();
      @include text-nowrap();
      text-align: right;
    }

    th:nth-child(7) {
      width: 1%;
    }
    td:nth-child(7) {
      a {
        @include btn_edit(TRUE);
      }
    }
  }
}

.media-item img {
  margin-left: 0;
}

.media-display-thumbnails {
  @include panel();
}
