td.view-subfooter,
td.view-subfooter-number {
  border-color:     $gray-light !important;
  background-color: $gray-lighter !important;
}

td.view-footer,
td.view-footer-number {
  border-color:     $gray-light !important;
  background-color: $gray-lighter !important;
}
