#views-ui-list-page {
  form {
    @include panel;
    @include form-inline;

    label {
      display:      inline;
      float:        none;
      width:        auto;
      margin-right: $grid-gutter-width/2;

      font-size:    $font-size-h4;
    }

    button.form-submit {
      float: right;
    }
  }
}

.views-edit-view {
  .messages {
    &.warning {
      @include alert-warning();
    }
  }

  .form-edit {
    .form-actions {
      float:      none;

      text-align: left;
    }
  }

  #edit-actions-save,
  #edit-actions-cancel {
    float:       right;
    margin-left: $grid-gutter-width/2;
  }

  #views-display-menu-tabs {
    li {
      margin: 0;

      &.add {
        display: none;
      }

      a {
        @include btn-default;

        margin-right: $grid-gutter-width/2;
      }
    }
  }

  .views-display-top {
    padding: $grid-gutter-width/2;

    .ctools-button-processed {
      position: relative;
      right:    0;
      top:      0;
    }

    .ctools-dropbutton {
      float:       right;
      margin-left: $grid-gutter-width/2;
    }

    button {
      @include btn-xs;
      float:       right;
      margin-left: $grid-gutter-width/2;
    }
  }
}

.views-displays {
  margin-top:     $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
}

.views-admin {
  h1.unit-title {
    display: none;
  }

  .icon,
  .icon-text {
    //background-attachment: scroll;
    //background-image: url("../images/sprites.png");
    //background-position: left top; /* LTR */
    //background-repeat: no-repeat;
    background: none;
  }
}

#views-preview-wrapper {
  margin-top:       $grid-gutter-width/2;
  border-top-width: 1px;
}

.views-ui-dialog {
  font-size: $font-size-base;

  //.ui-widget-header {
  //  border: 0;
  //}

  //.ui-dialog-titlebar-close {
  //  right:               -27px;
  //  top:                 -1px;
  //  height:              34px;
  //
  //  border-radius:       0;
  //  border-color:        $gray;
  //
  //  @include box-shadow(none);
  //  background-color:    $gray-lighter;
  //  background-position: 5px 8px;
  //
  //  font-size:           15px;
  //}

  form {
    background: $gray-lighter;
  }

  .scroll {
    border-color: $gray;
  }

  .form-buttons {
    border-bottom: 1px solid $gray;

    background:    $gray-lighter;
  }

  #views-ajax-title,
  .views-override {
    background: $gray-lighter;
  }
}

.views-ui-display-tab-bucket {
  margin:      0;
  padding:     $grid-gutter-width/3;

  border:      1px solid $gray-lighter;

  line-height: $line-height-small;

  &.pager {
    text-align: inherit;
  }
  &.footer {
    margin:  0;
    padding: $grid-gutter-width/3;
  }

  .even {
    background-color: transparent;
  }

  > h3,
  > .views-display-setting {
    padding: $grid-gutter-width/4 0;
  }

  h3 {
    font-size:   $font-size-base;
    line-height: $line-height-base;
  }

  > .views-display-setting {
    line-height: $line-height-small;
  }

  .label {
    padding:     0;

    color:       $default-color-text;

    font-family: $font-family-base;
    font-size:   $font-size-small;
    font-weight: normal;
    line-height: $line-height-small;
  }

  .ctools-button-processed {
    top:   $grid-gutter-width/3;
    right: $grid-gutter-width/3;
  }
}

#views-filterable-options-controls {
  margin:      0 0 $grid-gutter-width/2;
  padding-top: 0;

  @include make-row();

  .form-item {
    margin-right: 0;
    @include make-sm-column(6);
  }

  input,
  select {
    width: 100%;
  }
}

#views-ui-rearrange-form {
  .form-type-checkbox {
    display: none;
  }

  .views-button-remove {
    @include btn_remove(TRUE);
  }

  table {
    th:nth-child(1) {
      width: 100%;
    }
  }
}

#edit-options {
  margin-bottom: 0;

  .collapsible {
    float: none;
    width: auto;
  }
}
