.form-item-actions-views-revisions-revision {
  display:      inline-block;
  padding-left: 0;
}

.form-item-actions-views-revisions-log {
  @include panel;

  label {
    display:   block;
    max-width: none;
    @include panel-header;
  }

  textarea {
    height: 1.5*$line-height-computed;
  }

  .help-block {
    margin-bottom: 0;
  }
}
