.view {
  .view-filters {
    margin-bottom: $line-height-computed;
    padding:       $grid-gutter-width/2;

    background:    $panel-default-heading-bg;
    border:        1px solid $panel-default-border;

    .views-submit-button,
    .views-reset-button {
      float:        right;
      margin-right: $grid-gutter-width/2;
      padding:      0;

      button {
        margin-top: 0;
      }
    }
  }

  //table {
  //@extend .table-striped;
  //}
}

.views-exposed-widgets {
  @include make-row();
}

.views-exposed-form {
  label {
    font-weight: normal;
  }

  .views-exposed-widget[id*="edit"],
  .views-widget-per-page {
    padding: 0;
    @include make-sm-column(2);
  }
}
