.webform-client-form {
  margin-top: $grid-gutter-width;

  .webform-component-textfield,
  .form-radios,
  .webform-component-display {
    margin-bottom: $grid-gutter-width/2;
  }

  .email {
    @extend .form-control;
  }
}

.webform-add-form {
  &.draggable {
    .webform-component-name {
      .form-item-add-name {
        display: inline-block;
      }
    }
  }
}
