$drupal-color: #0678BE;
$drupal-color-dark: #00598E;
$drupal-color-light: #2BA9E0;

$default-color-text: #202020;

$default-color-green: #5CB85C;
$default-color-orange: #F0AD4E;
$default-color-red: #D9534F;
