////////////////////////////////////////////////////////////////////////////////
// Grays
$ui-black: #000000;
$ui-gray-darker: $gray-darker;
$ui-gray-dark: $gray-dark;
$ui-gray: $gray;
$ui-gray-light: $gray-light;
$ui-gray-lighter: $gray-lighter;
$ui-white: #FFFFFF;

////////////////////////////////////////////////////////////////////////////////
// Brand colors
$ui-brand-primary: $brand-primary;
$ui-brand-success: $brand-success;
$ui-brand-warning: $brand-warning;
$ui-brand-danger: $brand-danger;
$ui-brand-info: $brand-info;

$ui-blue-dark: #003F81;
$ui-blue: #003F81;
$ui-blue-light: #0069D6;

$ui-green-light: #62C462;
$ui-green: #51A351;
$ui-green-dark: #3D773D;

$ui-red-lighter: #EE5F5B;
$ui-red-light: #C43C35;
$ui-red: #CD0A0A;
$ui-red-dark: #882A25;

$ui-yellow-lighter: #FCEEC1;
$ui-yellow-light: #EEDC94;
$ui-yellow: #E4C652;

$ui-gray-darker-num: 222222;
$ui-gray-num: 555555;
$ui-brand-primary-num: 428 bca;
$ui-brand-warning-num: f0ad4e;
$ui-body-bg-num: ffffff;
$ui-gray-light-num: 999999;

////////////////////////////////////////////////////////////////////////////////
// Scaffolding

$ui-body-bg: $body-bg;

////////////////////////////////////////////////////////////////////////////////
// Links
$ui-link-color: $link-color;
$ui-link-hover-color: $link-hover-color;

////////////////////////////////////////////////////////////////////////////////
// Typography
$ui-font-family-sans-serif: $font-family-sans-serif;

$ui-font-size-base: $font-size-base;
$ui-font-size-large: $font-size-large;
$ui-font-size-small: $font-size-small;

$ui-line-height-base: $line-height-base;

////////////////////////////////////////////////////////////////////////////////
// Iconography
$ui-image-dir: "../img/jquery-ui";
$ui-icon-color: #888888;

////////////////////////////////////////////////////////////////////////////////
// Components
$ui-padding-base-vertical: $padding-base-vertical;
$ui-padding-base-horizontal: $padding-base-horizontal;

////////////////////////////////////////////////////////////////////////////////
// Buttons
$ui-btn-default-bg: $btn-default-bg;
$ui-btn-default-bg-highlight: lighten($btn-default-bg, 10%);
$ui-btn-default-border: $btn-default-border;

$ui-btn-primary-bg: $btn-primary-bg;
$ui-btn-primary-bg-highlight: lighten($btn-primary-bg, 10%);
$ui-btn-primary-border: $btn-primary-border;

$ui-btn-success-bg: $btn-success-bg;
$ui-btn-success-bg-highlight: lighten($btn-success-bg, 10%);
$ui-btn-success-border: $btn-success-border;

$ui-btn-warning-bg: $btn-warning-bg;
$ui-btn-warning-bg-highlight: lighten($btn-warning-bg, 10%);
$ui-btn-warning-border: $btn-warning-border;

$ui-btn-danger-bg: $btn-danger-bg;
$ui-btn-danger-bg-highlight: lighten($btn-danger-bg, 10%);
$ui-btn-danger-border: $btn-danger-border;

$ui-btn-info-bg: $btn-info-bg;
$ui-btn-info-bg-highlight: lighten($btn-info-bg, 10%);
$ui-btn-info-border: $btn-info-border;

$ui-btn-inverse-bg: adjust-hue($btn-default-bg, 180);
$ui-btn-inverse-bg-highlight: adjust-hue(lighten($btn-default-bg, 10%), 180);
$ui-btn-inverse-border: adjust-hue($btn-default-border, 180);

////////////////////////////////////////////////////////////////////////////////
// Menu
$ui-menu-item-a-color: $dropdown-link-color;
$ui-menu-item-a-border: $dropdown-bg;
$ui-menu-item-a-bg: $dropdown-bg;

$ui-menu-item-a-focus-color: $dropdown-link-hover-color;
$ui-menu-item-a-focus-border: $dropdown-link-hover-bg;
$ui-menu-item-a-focus-bg: $dropdown-link-hover-bg;

$ui-menu-item-a-active-color: $dropdown-link-active-color;
$ui-menu-item-a-active-border: $dropdown-link-active-bg;
$ui-menu-item-a-active-bg: $dropdown-link-active-bg;

////////////////////////////////////////////////////////////////////////////////
// Forms
$ui-input-border-radius: $input-border-radius;

$ui-form-actions-background: $input-bg;

////////////////////////////////////////////////////////////////////////////////
// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$ui-zindex-tooltip: $zindex-tooltip;
