// Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono);

$font_heading: 'Open Sans Condensed', sans-serif;
$font_sans_serif: 'Open Sans', sans-serif;
$font_serif: 'Merriweather', serif;
$font_monospace: 'Roboto Mono', monospace;
$font_glyphicons: 'Glyphicons Halflings';

// Font Awesome
@import "font-awesome/variables";
@import "font-awesome/mixins";
