.btn-inverse {
  @include btn-inverse();
}

// legacy button support
.button {
  @include btn-default;
}

.button-submit {
  @include btn-success;
}

.button-cancel {
  @include btn-warning;
}

.button-remove {
  @include btn-danger;
}

a {
  &[id*=cancel],
  &[class*=cancel],
  &[id*=reset] {
    @include btn-warning;
  }
}

.button-small {
  @include btn-sm;
}
