.radio,
.checkbox {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.form-actions {
  margin-top: $grid-gutter-width/2;

  text-align: center;

  button {
    margin: 0 0 0 $grid-gutter-width/2;
  }
}

.form-control {
  @include box-shadow(none);
}

legend {
  @include font-heading($font-size-h4, 0);
}

fieldset.form-inline {
  .panel-body {
    > * {
      margin-right: $grid-gutter-width/3;
    }
  }
}

.form-required {
  color: $default-color-orange;
}
