////////////////////////////////////////////////////////////////////////////////
// BOX MODEL HELPER

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.valign-center {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

////////////////////////////////////////////////////////////////////////////////
// MARGIN

.margin-none {
  @include no-margin();
}

.margin-top {
  @include margin-top();
}

.margin-right {
  @include margin-right();
}

.margin-bottom {
  @include margin-bottom();
}

.margin-left {
  @include margin-left();
}

.margin-vertical {
  @include margin-vertical();
}

.margin-horizontal {
  @include margin-horizontal();
}

////////////////////////////////////////////////////////////////////////////////
// PADDING

.padding-none {
  @include no-padding();
}

.padding-top {
  @include padding-top();
}

.padding-right {
  @include padding-right();
}

.padding-bottom {
  @include padding-bottom();
}

.padding-left {
  @include padding-left();
}

.padding-vertical {
  @include padding-vertical();
}

.padding-horizontal {
  @include padding-horizontal();
}

////////////////////////////////////////////////////////////////////////////////
// BORDER

.border-none {
  @include no-border();
}

.border-top {
  @include border-top();
}

.border-right {
  @include border-right();
}

.border-bottom {
  @include border-bottom();
}

.border-left {
  @include border-left();
}

.border-vertical {
  @include border-vertical();
}

.border-horizontal {
  @include border-horizontal();
}

////////////////////////////////////////////////////////////////////////////////
// TABLE HELPER

.fix-width-1 {
  width: 1%;
}

.fix-width-10 {
  width: 10%;
}

.fix-width-20 {
  width: 20%;
}

.fix-width-30 {
  width: 30%;
}

.fix-width-40 {
  width: 40%;
}

.fix-width-50 {
  width: 50%;
}

.fix-width-60 {
  width: 60%;
}

.fix-width-70 {
  width: 70%;
}

.fix-width-80 {
  width: 80%;
}

.fix-width-90 {
  width: 90%;
}

.fix-width-100 {
  width: 100%;
}
