////////////////////////////////////////////////////////////////////////////////
// HELPER

.no-margin {
  @include no-margin();
}

.no-padding {
  @include no-padding();
}

.no-border {
  @include no-border();
}

////////////////////////////////////////////////////////////////////////////////
// COLOR HELPER

.red,
.red a {
  color: $default-color-red;
}

.orange,
.orange a {
  color: $default-color-orange;
}

.green,
.green a {
  color: $default-color-green;
}

.grey,
.grey a {
  color: $gray-light;
}

.red-bg,
.value-negative {
  background: rgba($default-color-red, 0.3);
}

.orange-bg,
.value-neutral {
  background: rgba($default-color-orange, 0.3);
}

.green-bg,
.value-positive {
  background: rgba($default-color-green, 0.3);
}

.light-bg {
  border:     1px solid $gray-light;
  background: $gray-lighter;
}

.dark-bg {
  border:     1px solid $gray;
  background: $gray-light;
}
