.panel {
  @include box-shadow(none);
  &.collapsible {
    a.panel-title:after {
      float:       right;

      color:       $gray;

      font-family: $font_glyphicons;
      content:     "\2212";
    }

    &.collapsed {
      a.panel-title:after {
        content: "\2b";
      }
    }
  }

  .panel-title {
    @include font-heading($font-size-h4, 0);
  }
}

.panel-heading {
  display: block;
}

fieldset {
  legend.panel-heading {
    float:       left;
    line-height: $line-height-base;
    margin:      0;
  }

  .panel-heading > a.panel-title {
    display:         block;
    margin:          -10px -15px;
    padding:         10px 15px;

    color:           inherit;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .panel-body {
    clear: both;
    //display: inherit;
  }
}
