.bootstrap-switch {
  display:        inline-block;
  position:       relative;
  overflow:       hidden;
  z-index:        0;
  vertical-align: middle;

  cursor:         pointer;

  border-radius:  $border-radius-base;
  border:         1px solid;
  border-color:   $btn-default-border;

  direction:      ltr;
  text-align:     left;
  font-weight:    normal;
  font-family:    $font-family-base;
  line-height:    8px;

  @include user-select(none);

  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  .bootstrap-switch-container {
    display:       inline-block;
    top:           0;

    border-radius: $border-radius-base;

    @include transform(translate3d(0, 0, 0));
  }

  .bootstrap-switch-handle-on,
  .bootstrap-switch-handle-off,
  .bootstrap-switch-label {
    display:            table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    vertical-align:     middle;
    padding:            6px 12px;

    cursor:             pointer;

    font-size:          14px;
    line-height:        20px;
  }

  .bootstrap-switch-handle-on,
  .bootstrap-switch-handle-off {
    text-align: center;
    z-index:    1;

    &.bootstrap-switch-primary {
      background: $btn-primary-bg;
      color:      $btn-primary-color;
    }
    &.bootstrap-switch-info {
      background: $btn-info-bg;
      color:      $btn-info-color;
    }
    &.bootstrap-switch-success {
      background: $btn-success-bg;
      color:      $btn-success-color;
    }
    &.bootstrap-switch-warning {
      background: $btn-warning-bg;
      color:      $btn-warning-color;
    }
    &.bootstrap-switch-danger {
      background: $btn-danger-bg;
      color:      $btn-danger-color;
    }
    &.bootstrap-switch-default {
      background: $input-bg-disabled;
      color:      $input-color;
    }
  }
  .bootstrap-switch-handle-on {
    border-bottom-left-radius: $border-radius-base;
    border-top-left-radius:    $border-radius-base;
  }
  .bootstrap-switch-handle-off {
    border-bottom-right-radius: $border-radius-base;
    border-top-right-radius:    $border-radius-base;
  }

  .bootstrap-switch-label {
    text-align:    center;
    margin-top:    -1px;
    margin-bottom: -1px;
    z-index:       100;

    background:    $btn-default-bg;
    color:         $btn-default-color;

    font-family:   $headings-font-family;
    font-weight:   $headings-font-weight;
  }

  span::before {
    content: "\200b";
  }

  input[type='radio'],
  input[type='checkbox'] {
    position:   absolute !important;
    top:        0;
    left:       0;
    margin:     0;
    z-index:    -1;
    opacity:    0;
    filter:     alpha(opacity=0);
    visibility: hidden;
  }

  &.bootstrap-switch-mini {
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off,
    .bootstrap-switch-label {
      padding:     1px 5px;
      font-size:   12px;
      line-height: 1.5;
    }
  }
  &.bootstrap-switch-small {
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off,
    .bootstrap-switch-label {
      padding:     5px 10px;
      font-size:   12px;
      line-height: 1.5;
    }
  }
  &.bootstrap-switch-large {
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off,
    .bootstrap-switch-label {
      padding:     6px 16px;
      font-size:   18px;
      line-height: 1.3333333;
    }
  }
  &.bootstrap-switch-disabled,
  &.bootstrap-switch-readonly,
  &.bootstrap-switch-indeterminate {
    cursor: default !important;

    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off,
    .bootstrap-switch-label {
      opacity: 0.5;
      filter:  alpha(opacity=50);
      cursor:  default !important;
    }
  }

  &.bootstrap-switch-animate .bootstrap-switch-container {
    @include transition(margin-left 0.5s);
  }

  .bootstrap-switch.bootstrap-switch-focused {
    border-color:       #66AFE9;
    outline:            0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:         inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  &.bootstrap-switch-inverse .bootstrap-switch-handle-on {
    border-bottom-left-radius:  0;
    border-top-left-radius:     0;
    border-bottom-right-radius: $border-radius-base;
    border-top-right-radius:    $border-radius-base;
  }
  &.bootstrap-switch-inverse .bootstrap-switch-handle-off {
    border-bottom-right-radius: 0;
    border-top-right-radius:    0;
    border-bottom-left-radius:  $border-radius-base;
    border-top-left-radius:     $border-radius-base;
  }

  &.bootstrap-switch-on .bootstrap-switch-label,
  &.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
    border-bottom-right-radius: $border-radius-base;
    border-top-right-radius:    $border-radius-base;
  }

  &.bootstrap-switch-off .bootstrap-switch-label,
  &.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
    border-bottom-left-radius: $border-radius-base;
    border-top-left-radius:    $border-radius-base;
  }
}
