table,
.table {
  width:     100%;
  max-width: 100%;

  border:    1px solid $gray-light;

  &.sticky-header {
    z-index: 1;
  }

  caption {
    padding:             5px;
    border:              1px solid $gray-light;
    border-bottom-width: 0;

    background:          $gray-lighter;
    color:               $default-color-text;

    @include font-heading($font-size-h3, 0);

    text-align:          center;
    text-transform:      uppercase;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding:     $table-cell-padding;

        line-height: $line-height-base;
      }
    }
  }

  > thead {
    > tr {
      > th {
        vertical-align: bottom !important;

        border:         1px solid $gray-light;
        border-bottom:  0;

        background:     $gray-lighter;

        @include font-heading($font-size-h4, 0);

        &.vertical {
          width: 1%;
          > * {
            display:     block;

            text-align:  center;
            white-space: nowrap;

            @include transform(rotate(270deg));
            @include transform-origin(50% 50%);

            &:before {
              content:        '';
              padding-top:    100%;
              display:        inline-block;
              vertical-align: middle;
            }
          }
        }

        &.vertical-divider {
          width:     5px;
          min-width: 5px;
          padding:   0;
        }

        a {
          @include text-nowrap;
        }
      }
    }
  }

  > tbody {
    > tr {
      > td {
        vertical-align: top;

        &.vertical-divider {
          width:         5px;
          min-width:     5px;
          padding:       0;

          border:        1px solid $gray-light;
          border-top:    0;
          border-bottom: 0;

          background:    $gray-lighter;
        }

        &.horizontal-divider {
          height:      10px;
          padding:     0;

          border:      1px solid $gray-light;
          border-left: 0;

          background:  $gray-lighter;
        }

        &.module {
          border:     1px solid $gray-light;

          background: $gray-lighter;

          @include font-heading($font-size-h5);
        }
      }
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  font-size: $font-size-small;
  a {
    color: $gray-light;
  }
}
