.vertical-tabs {
  //@include panel;
  //border: 1px solid $default-color-grey;

  > .nav-tabs {
    margin-bottom: 0;

    .vertical-tab-button {
      margin-bottom:    0;

      border:           1px solid $gray-light;
      border-top-width: 0;

      &.first {
        border-top-width: 1px;
      }

      &.active {
        border-right-color: #FFFFFF;
      }
    }
  }

  > .tab-content {
    border: 1px solid $gray-light;
  }
}
