label,
.label {
  font-weight: 700;
  font-family: $font_heading;
}

legend {
  font-weight: 700;
  font-family: $font_heading;
}

.glyphicon {
  top: 2px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height:    auto;
  }
}

////////////////////////////////////////////////////////////////////////////////
// HEADINGS

div:not(.cke_reset) > h2,
div:not(.cke_reset) > .h2 {
  padding:    $grid-gutter-width/4;
  border:     1px solid $gray-light;

  background: $gray-lighter;

  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
// HELPER

.no-wrap {
  @include text-nowrap();
}

.all-wrap {
  @include word-break(break-all)
}

.uppercase,
.uppercase * {
  @include text-uppercase();
}

.lowercase,
.lowercase * {
  @include text-lowercase();
}

.capitalize,
.capitalize * {
  @include text-capitalize();
}

.bigger {
  @include text-bigger();
}

.smaller {
  @include text-smaller();
}

.mirror {
  transform: scaleX(-1);
}

.monospace {
  @include font-monospace();
}

.text-reset {
  @include reset-text();
}

.line-height-0 {
  line-height: 0;
}

.line-height-1 {
  line-height: 1;
}
