@mixin no-border() {
  border: none !important;
}

@mixin border-top($color: $gray-light) {
  border-top: 1px solid $color;
}

@mixin border-right($color: $gray-light) {
  border-right: 1px solid $color;
}

@mixin border-bottom($color: $gray-light) {
  border-bottom: 1px solid $color;
}

@mixin border-left($color: $gray-light) {
  border-left: 1px solid $color;
}

@mixin border-vertical($color: $gray-light) {
  @include border-top($color);
  @include border-bottom($color);
}

@mixin border-horizontal($color: $gray-light) {
  @include border-left($color);
  @include border-right($color);
}

@mixin border($color: $gray-light) {
  @include border-horizontal($color);
  @include border-vertical($color);
}
