@mixin no-margin() {
  margin: 0 0 0 0 !important;
}

@mixin margin-top() {
  margin-top: $grid-gutter-width/2;
}

@mixin margin-bottom() {
  margin-bottom: $grid-gutter-width/2;
}

@mixin margin-vertical() {
  @include margin-top();
  @include margin-bottom();
}

@mixin margin-left() {
  margin-left: $grid-gutter-width/2;
}

@mixin margin-right() {
  margin-right: $grid-gutter-width/2;
}

@mixin margin-horizontal() {
  @include margin-left();
  @include margin-right();
}
