@mixin no-padding() {
  padding: 0 0 0 0 !important;
}

@mixin padding-top() {
  padding-top: $grid-gutter-width/2;
}

@mixin padding-left() {
  padding-left: $grid-gutter-width/2;
}

@mixin padding-bottom() {
  padding-bottom: $grid-gutter-width/2;
}

@mixin padding-right() {
  padding-right: $grid-gutter-width/2;
}

@mixin padding-vertical() {
  @include padding-top();
  @include padding-bottom();
}

@mixin padding-horizontal() {
  @include padding-left();
  @include padding-right();
}
