div.admin {
  @include make-row();

  .compact-link {
    @include make-xs-column(12);
    @include margin-bottom();

    text-align: center;
  }

  .left,
  .right {
    margin: 0;
    @include make-md-column(6);
  }
}

div.admin-panel {
  @include panel();
  @include margin-bottom();

  > h3 {
    @include panel-header();
  }

  .body {
    padding: 0;
  }

  dl {
    padding:       0;
    margin-bottom: 0;

    border:        0;
  }
}

dl.admin-list {
  @include panel();

  dt {
    @include font-heading($font-size-h4, 0);
  }
  dd {
    margin-bottom: $grid-gutter-width/4;
  }
}
