.block {
  &:first-child h2.block-title {
    margin-top: 0;
  }
}

table#blocks {
  tr {
    th:nth-child(4) {
      width:      1%;

      text-align: center;
    }

    td:nth-child(4) {
      a {
        @include btn_edit(TRUE);
      }
    }

    td:nth-child(5) {
      a {
        @include btn_remove(TRUE);
      }
    }
  }

  .form-type-select {
    margin-bottom: 0;
  }
}
