#book-admin-edit {
  .form-text {
    width: 95%;
  }

  table {
    tr {
      th:nth-child(4) {
        text-align: center;
      }

      td:nth-child(4) {
        a {
          @include btn_view(TRUE);
        }
      }

      td:nth-child(5) {
        a {
          @include btn_edit(TRUE);
        }
      }

      td:nth-child(6) {
        a {
          @include btn_remove(TRUE);
        }
      }
    }
  }
}

.book-toc > .dropdown-menu {
  overflow: hidden;
  > .dropdown-header {
    white-space: nowrap;
  }
  > li:nth-child(1) > a {
    font-weight: bold;
  }
  .dropdown-menu {
    @include box-shadow(none);
    border:    0;
    display:   block;
    font-size: $font-size-small;
    margin:    0;
    padding:   0;
    position:  static;
    width:     100%;
    > li {
      padding-left: 20px;
      > a {
        margin-left:  -40px;
        padding-left: 60px;
      }
    }
  }
}
