#admin-dblog {
  @include alert-table(("dblog-info", "dblog-debug"),
                           ("dblog-notice"),
                           ("dblog-warning"),
                           ("dblog-error", "dblog-critical", "dblog-alert", "dblog-emergency"));

  tr {
    td, th {
      &:nth-child(1) {
        width: 1%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width:       1%;

        white-space: nowrap;
      }
    }
  }
}
