.field-type-text {
  .field-multiple-table {
    th,
    label {
      display: none;
    }
  }
}

.field-ui-overview {
  a[id*="-widget-type"] {
    @include btn-warning(TRUE);
    @include icon-config();
  }
  a[id*="-edit"] {
    @include btn_edit(TRUE);
  }
  a[id*="-delete"],
  a[href$="/delete"] {
    @include btn_remove(TRUE);
  }

  .add-new {
    .tabledrag-handle {
      display: none;
    }
  }
}
