#edit-instance-settings-max-resolution-x,
#edit-instance-settings-max-resolution-y,
#edit-instance-settings-min-resolution-x,
#edit-instance-settings-min-resolution-y {
  display: inline-block;
  width:   auto;
}

div.image-widget-data {
  float:    none;
  overflow: hidden;
}

// Override image module.
div.image-style-new,
div.image-style-new div {
  display: block;
}

div.image-style-new div.input-group {
  display: table;
}
