.page-admin-structure-menu {
  tr {
    th:nth-child(1) {
      width: 100%;
    }
  }

  table:not(#menu-overview) {
    tr {
      th:nth-child(2) {
        text-align: center;
      }

      td:nth-child(2) {
        a {
          @include btn_view(TRUE);
        }
      }

      td:nth-child(3) {
        a {
          @include btn_edit(TRUE);
        }
      }

      td:nth-child(4) {
        a {
          @include btn_add(TRUE);
        }
      }
    }
  }

  table#menu-overview {
    tr {
      th:nth-child(4) {
        text-align: center;
      }

      td:nth-child(3) {
        * {
          text-align: center;
        }
      }

      td:nth-child(4) {
        a {
          @include btn_edit(TRUE);
        }
      }

      td:nth-child(5) {
        a {
          @include btn_remove(TRUE);
        }
      }
    }
  }
}

.page-admin-structure-menu-settings {
  form {
    @include panel;
  }
}

#menu-edit-menu {
  @include panel;
}

#menu-edit-item {
  @include panel;
}
