dl.node-type-list {
  @include panel;
  dt {
    @include font-heading($font-size-h4, 0);
  }
}

// admin/structure/types => shitty selector bc table has no ID
.page-admin-structure-types:not([class*="page-admin-structure-types-"]) {
  table {
    th:nth-child(2) {
      width:      1%;
      text-align: center;
    }

    td:nth-child(2) {
      a {
        @include btn_edit(TRUE);
      }
    }

    td:nth-child(3) {
      a {
        @include btn-default(TRUE);
        @include icon-list();
      }
    }

    td:nth-child(4) {
      a {
        @include btn-default(TRUE);
        @include icon-view();
      }
    }

    td:nth-child(5) {
      a {
        @include btn_remove(TRUE);
      }
    }
  }
}
