// admin/appearance
.system-themes-list {
  @include make-row();

  h2 {
    @include make-xs-column(12);
  }

  .theme-selector {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(2);

    img.screenshot {
      float:  none;
      width:  100%;
      height: auto;
      margin: 0;
    }

    .theme-info {
      @include panel();

      h3 {
        @include font-heading($font-size-h4);
        @include panel-header;
        margin:     0;

        text-align: center;
      }

      .theme-description {
        //@extend .panel-body;
        min-height: 7*$line-height-computed;
      }
    }

    ul.operations {
      @include list-unstyled();

      padding:    $panel-body-padding;

      text-align: center;

      li {
        display:      inline-block;
        float:        none;

        border-right: none;

        a {
          @include btn-default(TRUE);
        }
      }
    }
  }
}

// admin/modules
#system-modules {
  table {
    th:nth-child(1) {
      width: 1%;
    }
    th:nth-child(2) {
      width: 15%;
    }
    th:nth-child(3) {
      width:      10%;
      text-align: right;
    }
    th:nth-child(5) {
      width:      1%;
      text-align: right;
    }

    td:nth-child(1) {
      text-align: center;
    }

    td:nth-child(3) {
      @include font-monospace();
      text-align: right;
      @include text-smaller();
    }

    .help a {
      @include btn-info(TRUE);
      @include icon-help();
    }

    .permissions a {
      @include btn-warning(TRUE);
      @include icon-unlock();
    }

    .configure a {
      @include btn-primary(TRUE);
      @include icon-config();
    }
  }
}

// admin/modules/uninstall
#system-modules-uninstall {
  table {
    th:nth-child(1),
    th:nth-child(2) {
      width: 1%;
    }

    td:nth-child(2) {
      @include text-nowrap();
    }
  }

  button {
    @include btn-danger();
  }
}

// admin/reports/status
.system-status-report {
  @include alert-table(("info"), ("ok"));
}

// admin/config/development/maintenance
#system-site-maintenance-mode {
  @include panel();
}
