// admin/reports/updates
table.update {
  @include alert-table(("info"), ("ok"), ("warning", "unknown"), ("error"));

  .version-status {
    float: right;

    .icon {
      margin-left: 5px;
      display:     inline-block;
    }
  }

  .versions {
    padding-top: $table-cell-padding;

    table.version {
      width: 100%;
    }

    .version-title {
      width: 25%;
    }

    .version-links {
      width: 50%;
      ul {
        float: right;
      }
    }
  }

  .includes {
    padding-top: $table-cell-padding;
    font-size:   $font-size-small;
  }
}

// admin/reports/updates/settings
#update-settings {
  @include panel;
}

// admin/modules/install
#update-manager-install-form {
  @include panel;

  button {
    @include btn-success();
  }
}

// admin/modules/update
#update-manager-update-form {
  table {
    th:nth-child(1) {
      width: 1%;
    }
    th:nth-child(3) {
      width:       1%;
      white-space: nowrap;
      text-align:  right;
    }
    th:nth-child(4) {
      width:       1%;
      white-space: nowrap;
      text-align:  right;
    }

    td:nth-child(1) {
      text-align: center;
    }

    td:nth-child(3),
    td:nth-child(4) {
      @include font-monospace();
      text-align:  right;
      white-space: nowrap;
      @include text-smaller();
    }
  }
}
