#user-roles {
  td:nth-child(n+3) {
    a {
      @include btn_edit(TRUE);
    }
  }

  .edit-name {
    .form-item-name {
      display:       inline-block;
      margin-bottom: 0;
    }

    button {
      vertical-align: top;
      margin-left:    $grid-gutter-width/2;
    }
  }
}

#user-admin-permissions {
  .compact-link {
    margin-bottom: 0;

    font-size:     $font-size-small;
    text-align:    right;
    a {
      color: $gray-light;
    }
  }
}
