////////////////////////////////////////////////////////////////////////////////
// Layout helpers

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border:   0;
  clip:     rect(0 0 0 0);
  height:   1px;
  margin:   -1px;
  overflow: hidden;
  padding:  0;
  position: absolute;
  width:    1px;
}

.ui-helper-reset {
  margin:          0;
  padding:         0;
  border:          0;
  outline:         0;
  line-height:     1.3;
  text-decoration: none;
  font-size:       100%;
  list-style:      none;
}

.ui-helper-clearfix {
              /*display: inline-block; */
  display:    block;
  min-height: 0; /* support: IE7 */
  &:after {
    content:    ".";
    display:    block;
    height:     0;
    clear:      both;
    visibility: hidden;
  }

  &:before,
  &:after {
    content:         "";
    display:         table;
    border-collapse: collapse;
  }
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
  height: 1%;
}

/* end clearfix */
.ui-helper-zfix {
  width:    100%;
  height:   100%;
  top:      0;
  left:     0;
  position: absolute;
  @include opacity(0);
}

.ui-front {
  z-index: 100;
}

////////////////////////////////////////////////////////////////////////////////
// Interaction Cues

.ui-state-disabled {
  cursor: default !important;
}

////////////////////////////////////////////////////////////////////////////////
// Icons

.ui-icon {
  display:           block;
  text-indent:       -99999px;
  overflow:          hidden;
  background-repeat: no-repeat;
}

////////////////////////////////////////////////////////////////////////////////
// Overlays

.ui-widget-overlay {
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
}
