/*
 * jQuery UI Bootstrap v1.0 Alpha
 *
 * jQuery UI CSS Framework 1.10.3
 *
 * Portions copyright Addy Osmani, jQuery UI & Twitter, Inc.
 * Created the LESS version by $dharapvj
 * Released under MIT
 */

////////////////////////////////////////////////////////////////////////////////
// Component containers

.ui-widget {
  font-family: $font-family-base;
  font-size:   $font-size-base;
  .ui-widget {
    font-size: $font-size-base;
  }
  input,
  select,
  textarea,
  button {
    font-family: $font-family-base;
    font-size:   inherit;
  }
}

.ui-widget-content {
  border:     1px solid $gray-light;
  background: $body-bg url($ui-image-dir + "/ui-bg_glass_75_" + $ui-body-bg-num + "_1x400.png") 50% 50% repeat-x;
  color:      $gray-dark;
}

.ui-widget-header {
  font-weight:      bold;
  background-color: $panel-default-heading-bg;
  border-color:     $panel-default-border;
  a {
    color: $gray-darker;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Interaction states

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color:            #333333;
  background-color: $gray-lighter;
  font-weight:      normal;
  border:           1px solid $gray-light;
}

.ui-state-default {
  a, a:link, a:visited {
    color:           #555555;
    text-decoration: none;
  }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  color:            #333333;
  background-color: #EBEBEB;
  border-color:     #ADADAD;
  text-decoration:  none;
}

.ui-state-hover {
  a, a:hover, a:link, a:visited {
    color:           #333333;
    text-decoration: none;
  }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border:      1px solid $gray-light;

  color:       #333333;
  background:  #FFFFFF;

  font-weight: normal;
}

.ui-state-active {
  a, a:link, a:visited {
    color:           #333333;
    text-decoration: none;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Interaction Cues

.ui-state-highlight,
.ui-state-error,
.ui-state-default {
  border-width: 1px;
  border-style: solid;
}

.ui-state-highlight p,
.ui-state-error p,
.ui-state-default p {
  font-size:   13px;
  font-weight: normal;
  line-height: 18px;
  margin:      7px 15px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color:            $state-info-text;
  background-color: $state-info-bg;
  border-color:     $state-info-border;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: $state-info-text;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color:            $state-danger-text;
  background-color: $state-danger-bg;
  border-color:     $state-danger-border;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: $state-danger-text;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: $state-danger-text;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  @include opacity(.7);
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  @include opacity(.35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  @include opacity(.35); /* For IE8 - See #6059 */
}
