/*!
 * jQuery UI Bootstrap v1.0 Alpha
 *
 * jQuery UI Datepicker 1.10.3
 * http://docs.jquery.com/UI/Datepicker#theming
 *
 * Portions copyright Addy Osmani, jQuery UI & Twitter, Inc.
 * Created the LESS version by $dharapvj
 * Released under MIT
 */
.ui-datepicker {
  display:     none;
  width:       17em;
  z-index:     10 !important; // z-index form elements = 2
  padding:     $padding-base-vertical;
  @include focus-border();

  background:  $body-bg;

  font-family: $font-family-base;

  .ui-datepicker-header {
    position:      relative;
    width:         100%;
    margin-bottom: $padding-base-vertical;
    padding:       0;
    border:        none;

    background:    $body-bg;
    color:         $ui-gray;

    font-weight:   bold;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    position:  absolute;
    top:       0;
    bottom:    0;
    width:     1.8em;
    height:    auto;
    @include btn-default(TRUE);

    font-size: $font-size-h5;

    span {
      display:     block;
      position:    absolute;
      left:        50%;
      margin-left: -8px;
      top:         50%;
      margin-top:  -8px;
    }

    .ui-icon {
      background: none;
    }
  }

  .ui-datepicker-prev {
    left: 0;
    @include icon-prev(0);
  }

  .ui-datepicker-next {
    right: 0;
    @include icon-next(0);
  }

  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover {
    top: 0;
  }

  .ui-datepicker-prev-hover {
    left: 0;
  }

  .ui-datepicker-next-hover {
    right: 0;
  }

  .ui-datepicker-title {
    margin:      0 2.3em;

    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size:   $font-size-h5;
    line-height: 1.8em;
    text-align:  center;

    select {
      margin:    0;
      border:    1px solid $gray-light;

      font-size: 1em;
    }
  }

  select.ui-datepicker-month-year {
    width: 100%;
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year {
    width: 49%;
  }

  table {
    width:           100%;
    margin:          0;
    border:          none;
    border-collapse: collapse;

    background:      $body-bg;

    font-size:       .9em;
  }
  th {
    padding:     $padding-base-vertical;
    border:      0;

    background:  $body-bg;

    text-align:  center;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size:   $font-size-h5;
  }
  td {
    border:  0;
    padding: 1px;
    span,
    a {
      padding:         .2em;

      @include btn-default(TRUE);
      display:         block;

      text-align:      right;
      text-decoration: none;

      &.ui-state-highlight {
        @include btn-info(TRUE);
        display: block;
      }

      &.ui-state-active {
        @include btn-success(TRUE);
        display: block;
      }
    }
  }

  .ui-datepicker-buttonpane {
    margin:           .7em 0 0 0;
    padding:          0 .2em;
    border-left:      0;
    border-right:     0;
    border-bottom:    0;

    background-image: none;

    button {
      float:    right;
      margin:   .5em .2em .4em;
      cursor:   pointer;
      padding:  .2em .6em .3em .6em;
      width:    auto;
      overflow: visible;
      .ui-datepicker-current {
        float: left;
      }
    }
  }
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width:  95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear:     both;
  width:     100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-prev {
    right: 2px;
    left:  auto;
    &:hover {
      right: 1px;
      left:  auto;
    }
  }
  .ui-datepicker-next {
    left:  2px;
    right: auto;
    &:hover {
      left:  1px;
      right: auto;
    }
  }
  .ui-datepicker-buttonpane {
    clear: right;
    button {
      float: left;
      .ui-datepicker-current {
        float: right;
      }
    }
  }
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width:  1px;
  }
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width:  1px;
  }
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display:  none; /*sorry for IE5*/
            //display/**/: block; /*sorry for IE5*/
  position: absolute; /*must have*/
  z-index:  -1; /*must have*/
  filter:   mask(); /*must have*/
  top:      -4px; /*must have*/
  left:     -4px; /*must have*/
  width:    200px; /*must have*/
  height:   200px; /*must have*/
}

.ui-datepicker th {
  font-weight: bold;
  color:       $ui-gray;
}

.ui-datepicker-today {
  a {
    background-color: $ui-link-color;
    cursor:           pointer;
    padding:          0 4px;
    margin-bottom:    0;
    &:hover {
      background-color: $ui-gray;
      color:            $ui-white;
    }
  }
}

.ui-datepicker td {
  a {
    margin-bottom: 0;
    border:        0;
  }

  &:hover {
    color: $ui-white;
  }

  .ui-state-default {
    border:        0;
    background:    none;
    margin-bottom: 0;
    padding:       5px;
    color:         $ui-gray;
    text-align:    center;
    filter:        none;
  }

  .ui-state-highlight {
    border-color: $state-info-border;

    background:   $label-info-bg;
    color:        $ui-white;

    text-shadow:  none;
  }

  .ui-state-active {
    margin-bottom: 0;
    border-color:  $state-success-border;

    background:    $ui-gray-lighter;
    color:         $gray-dark;

    text-shadow:   none;
  }

  .ui-state-hover {
    border-color: #357EBD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    background:   $label-primary-bg;
    color:        $ui-white;

    text-shadow:  none;
  }
}
