/*!
 * jQuery UI Bootstrap v1.0 Alpha
 *
 * jQuery UI Dialog 1.10.3
 * http://docs.jquery.com/UI/Dialog#theming
 *
 * Portions copyright Addy Osmani, jQuery UI & Twitter, Inc.
 * Created the LESS version by $dharapvj
 * Released under MIT
 */
.ui-dialog {
  position:         absolute;
  top:              0;
  left:             0;
  width:            300px;
  z-index:          1050;
  padding:          .2em;
  overflow:         hidden;
  border:           1px solid rgba(0, 0, 0, 0.3);
  border-radius:    $border-radius-large;
  outline:          medium none;
  @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));

  background-clip:  padding-box;
  background-color: #FFFFFF;

  .ui-dialog-titlebar {
                     /*padding: .4em 1em;*/
    position:        relative;
    padding:         5px 15px;
    border:          0 0 0 1px solid $ui-white;
    border-bottom:   1px solid darken($ui-gray-lighter, 14%);
    @include border-bottom-right-radius(0px);
    @include border-bottom-left-radius (0px);

    font-size:       18px;
    text-decoration: none;
  }

  .ui-dialog-title {
    float:         left;
    margin-top:    5px;
    margin-bottom: 5px;
    padding:       5px 0;
    overflow:      hidden;

    color:         $ui-gray-dark; // FIXME - this needs to be #404040

    font-weight:   bold;
    text-overflow: ellipsis;
  }

  .ui-dialog-titlebar-close {
    position:    absolute;
    right:       .3em;
    top:         50%;
    width:       19px;
    height:      18px;
    margin:      -20px 0 0 0;
    padding:     1px;
    @include opacity(.25);
    border:      none;
    @include box-shadow(none);

    background:  none;

    font-size:   20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 $ui-white;

    span {
      display:     block;
      margin:      1px;
      text-indent: 9999px;
    }
    &:hover,
    &:focus {
      @include opacity(.9);
    }
  }

  .ui-dialog-content {
    position:   relative;
    border:     0;
    padding:    15px;
    background: none;
    overflow:   auto;
  }

  .ui-dialog-buttonpane {
    margin:           .5em 0 0 0;
    padding:          5px 15px 5px;
    border-width:     1px 0 0 0;
    border-top:       1px solid darken($ui-gray-lighter, 10%);
    @include border-radius(0 0 6px 6px);
    @include box-shadow(inset 0 1px 0 $ui-white);

    background-image: none;
    background-color: $ui-form-actions-background;

    text-align:       left;

    .ui-dialog-buttonset {
      float: right;
    }

    button {
      margin: .5em .4em .5em 0;
      cursor: pointer;
    }
  }

  .ui-resizable-se {
    width:  14px;
    height: 14px;
    right:  3px;
    bottom: 3px;
  }
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  color:            #FFFFFF;
  background-color: #428BCA;
  border-color:     #357EBD;
  &.ui-state-hover {
    color:            #FFFFFF;
    background-color: #3276B1;
    border-color:     #285E8E;
  }
}

/***Dialog fixes**/
.ui-dialog-buttonset .ui-button:not(:first-child) {
  cursor:           pointer;
  display:          inline-block;
  color:            #333333;
  background-color: #FFFFFF;
  border:           1px solid #CCCCCC;
  @include transition(0.1s linear all);
  overflow:         visible;
  &.ui-state-hover {
    color:            #333333;
    background-color: #EBEBEB;
    border-color:     #ADADAD;
    text-decoration:  none;
  }
}

.ui-dialog-buttonset .ui-button {
  /* ui-dialog-buttonset UI info */
  &.ui-button-info {
    color:            #FFFFFF;
    background-color: #5BC0DE;
    border-color:     #46B8DA;
    &.ui-state-hover {
      color:            #FFFFFF;
      background-color: #39B3D7;
      border-color:     #269ABC;
    }
  }
  /* ui-dialog-buttonset UI success */
  &.ui-button-success {
    color:            #FFFFFF;
    background-color: #5CB85C;
    border-color:     #4CAE4C;
    &.ui-state-hover {
      color:            #FFFFFF;
      background-color: #47A447;
      border-color:     #398439;
    }
  }
  /* ui-dialog-buttonset UI warning */
  &.ui-button-warning {
    color:            #FFFFFF;
    background-color: #F0AD4E;
    border-color:     #EEA236;
    &.ui-state-hover {
      color:            #FFFFFF;
      background-color: #ED9C28;
      border-color:     #D58512;
    }
  }
  /* ui-dialog-buttonset UI Danger */
  &.ui-button-danger {
    color:            #FFFFFF;
    background-color: #D9534F;
    border-color:     #D43F3A;
    &.ui-state-hover {
      color:            #FFFFFF;
      background-color: #D2322D;
      border-color:     #AC2925;
    }
  }
  /* ui-dialog-buttonset UI Inverse */
  &.ui-button-inverse {
    color:            #FFFFFF;
    background-color: #222222;
    border-color:     #080808;
    &.ui-state-hover {
      color:            #FFFFFF;
      background-color: #363636;
      border-color:     #000000;
    }
  }
}
