/*!
 * jQuery UI Bootstrap v1.0 Alpha
 *
 * jQuery UI Resizable 1.10.3
 * http://api.jqueryui.com/resizable/
 *
 * Portions copyright Addy Osmani, jQuery UI & Twitter, Inc.
 * Created the LESS version by $dharapvj
 * Released under MIT
 */

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position:  absolute;
  font-size: 0.1px;
  z-index:   99999;
  display:   block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width:  100%;
  top:    -5px;
  left:   0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width:  100%;
  bottom: -5px;
  left:   0;
}

.ui-resizable-e {
  cursor: e-resize;
  width:  7px;
  right:  -5px;
  top:    0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width:  7px;
  left:   -5px;
  top:    0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width:  12px;
  height: 12px;
  right:  1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width:  9px;
  height: 9px;
  left:   -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width:  9px;
  height: 9px;
  left:   -5px;
  top:    -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width:  9px;
  height: 9px;
  right:  -5px;
  top:    -5px;
}
