.ui-toolbar {
  padding: 7px 14px;
  margin:  0 0 18px;
  border:  1px solid lighten($ui-gray-light, 25%);
  @include border-radius(3px);

  @include ui-gradient-vertical($ui-white, $ui-form-actions-background);
  @include box-shadow(inset 0 1px 0 $ui-white);
}
