////////////////////////////////////////////////////////////////////////////////
// Bootstrap alerts as mixins

@mixin alert() {
  padding:       $alert-padding;
  margin-bottom: $line-height-computed;
  border:        1px solid transparent;
  border-radius: $alert-border-radius;
}

////////////////////////////////////////////////////////////////////////////////
// Alert variants

@mixin alert-success() {
  @include alert();
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

@mixin alert-info() {
  @include alert();
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

@mixin alert-warning() {
  @include alert();
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

@mixin alert-danger() {
  @include alert();
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
