@mixin alert-table(
  $info:("info"),
  $success:("success"),
  $warning:("warning"),
  $error:("error")
) {
  border: none;

  tr {
    td {
      border: none;
    }

    .icon,
    .status-icon {
      display: table-cell;

      * {
        display: none;
      }
    }
  }

  @each $selector in $info {
    tr.#{$selector} {
      @include alert-info();

      .icon,
      .status-icon {
        @include glyphicon-info();
      }
    }
  }

  @each $selector in $success {
    tr.#{$selector} {
      @include alert-success();

      .icon,
      .status-icon {
        @include glyphicon-ok();
      }
    }
  }

  @each $selector in $warning {
    tr.#{$selector} {
      @include alert-warning();

      .icon,
      .status-icon {
        @include glyphicon-exclamation();
      }
    }
  }

  @each $selector in $error {
    tr.#{$selector} {
      @include alert-danger();

      .icon,
      .status-icon {
        @include glyphicon-remove();
      }
    }
  }

  tr > td.active,
  tr.active > td {
    background-color: transparent;
  }
}
