////////////////////////////////////////////////////////////////////////////////
// Bootstrap button classes as mixins

@mixin btn($small: FALSE) {
  display:          inline-block;
  margin-bottom:    0; // For input.btn
  font-weight:      $btn-font-weight;
  text-align:       center;
  vertical-align:   middle;
  touch-action:     manipulation;
  cursor:           pointer;
  background-image: none;
  border:           1px solid transparent;
  white-space:      nowrap;

  $padding-vertical: $padding-base-vertical;
  $padding-horizontal: $padding-base-horizontal;
  $font-size: $font-size-base;
  $line-height: $line-height-base;
  $radius: $btn-border-radius-base;
  @if ($small==TRUE) {
    $padding-vertical: $padding-xs-vertical;
    $padding-horizontal: $padding-xs-horizontal;
    $font-size: $font-size-small;
    $line-height: $line-height-small;
    $radius: $btn-border-radius-small;
  }
  @include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $radius);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color:           $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline:          0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &[disabled] {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Button variants

@mixin btn-default($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

@mixin btn-inverse($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-default-bg, $btn-default-color, $btn-default-border);
}

@mixin btn-primary($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

@mixin btn-success($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

@mixin btn-info($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

@mixin btn-warning($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

@mixin btn-danger($small: FALSE) {
  @include btn($small);
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

////////////////////////////////////////////////////////////////////////////////
// Button sizes

@mixin btn-sm() {
  @include button-size($padding-small-vertical, $padding-small-horizontal,
                               $font-size-small, $line-height-small, $btn-border-radius-small);
}

@mixin btn-xs() {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal,
                               $font-size-small, $line-height-small, $btn-border-radius-small);
}

////////////////////////////////////////////////////////////////////////////////
// Button icon variants
// TODO to remove for bootstrap icon hooks

@mixin btn_view($small: FALSE) {
  @include btn-info($small);
  @include icon-view();
}

@mixin btn_edit($small: FALSE) {
  @include btn-warning($small);
  @include icon-edit();
}

@mixin btn_add($small: FALSE) {
  @include btn-success($small);
  @include icon-add();
}

@mixin btn_remove($small: FALSE) {
  @include btn-danger($small);
  @include icon-remove();
}

@mixin btn_clone($small: FALSE) {
  @include btn-default($small);
  @include icon-clone();
}
