@mixin fa($content: "", $margin: 0) {
  &:before {
    @include fa-icon();
    @if ($content != "") {
      content: $content;
    }
    @if ($margin != 0) {
      margin-right: $margin;
    }
  }
}

@mixin icon-view($margin: 5px) {
  @include fa($fa-var-eye, $margin);
}

@mixin icon-edit($margin: 5px) {
  @include fa($fa-var-edit, $margin);
}

@mixin icon-add($margin: 5px) {
  @include fa($fa-var-plus, $margin);
}

@mixin icon-remove($margin: 5px) {
  @include fa($fa-var-minus, $margin);
}

@mixin icon-list($margin: 5px) {
  @include fa($fa-var-list-alt, $margin);
}

@mixin icon-open($margin: 5px) {
  @include fa($fa-var-caret-left, $margin);
}

@mixin icon-close($margin: 5px) {
  @include fa($fa-var-caret-down, $margin);
}

@mixin icon-prev($margin: 5px) {
  @include fa($fa-var-caret-left, $margin);
}

@mixin icon-next($margin: 5px) {
  @include fa($fa-var-caret-right, $margin);
}

//@mixin icon_list($margin: 5px) {
//  @include fa($fa-var-list, $margin);
//}

@mixin icon-grid($margin: 5px) {
  @include fa($fa-var-th, $margin);
}

@mixin icon-help($margin: 5px) {
  @include fa($fa-var-question, $margin);
}

@mixin icon-lock($margin: 5px) {
  @include fa($fa-var-lock, $margin);
}

@mixin icon-unlock($margin: 5px) {
  @include fa($fa-var-unlock-alt, $margin);
}

@mixin icon-config($margin: 5px) {
  @include fa($fa-var-cog, $margin);
}

@mixin icon-clone($margin: 5px) {
  @include fa($fa-var-clone, $margin);
}
