@mixin glyphicon($content: "", $margin: 0) {
  &:before {
    position:    relative;
    top:         1px;
    display:     inline-block;

    font-family: $font_glyphicons;
    font-style:  normal;
    font-weight: normal;
    line-height: 1;
    @include font-smoothing;

    @if ($content != "") {
      content: $content;
    }
    @if ($margin != 0) {
      margin-right: $margin;
    }
  }
}

@mixin glyphicon-info($margin: 5px) {
  @include glyphicon("\e086", $margin);
}

@mixin glyphicon-ok($margin: 5px) {
  @include glyphicon("\e084", $margin);
}

@mixin glyphicon-exclamation($margin: 5px) {
  @include glyphicon("\e101", $margin);
}

@mixin glyphicon-remove($margin: 5px) {
  @include glyphicon("\e083", $margin);
}
