@mixin set_float_margin($selector: "img") {
  #{$selector} {
    &[style*="float:left"],
    &[style*="float: left"] {
      margin-right: $grid-gutter-width/2;
    }

    &[style*="float:right"],
    &[style*="float: right"] {
      margin-left: $grid-gutter-width/2;
    }
  }
}
