////////////////////////////////////////////////////////////////////////////////
// Bootstrap panel as mixins

@mixin panel() {
  padding: $panel-body-padding;

  border:  1px solid $gray-light;
}

@mixin panel-header() {
  margin:        -$panel-body-padding;
  margin-bottom: $panel-body-padding;
  padding:       $panel-heading-padding;

  border-bottom: 1px solid $gray-light;

  background:    $gray-lighter;

  font-family:   $headings-font-family;
  font-size:     $font-size-h4;
  font-weight:   $headings-font-weight;
}
