@mixin font-heading($font_size: $font-size-base, $margin: $line-height-computed / 2) {
  margin-top:    $margin;
  margin-bottom: $margin;

  font-family:   $headings-font-family;
  font-weight:   $headings-font-weight;
  font-size:     $font_size;
}

@mixin font-monospace() {
  font-family: $font-family-monospace;
  font-size:   95%;
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing:  subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin text-nowrap {
  white-space: nowrap;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin text-lowercase {
  text-transform: lowercase;
}

@mixin text-capitalize {
  text-transform: capitalize;
}

@mixin text-bigger {
  font-size: floor((100% * $font-size-large / $font-size-base));
}

@mixin text-smaller {
  font-size: floor((100% * $font-size-small / $font-size-base));
}
